.navbar li{
    list-style: none;
    margin: 0 2rem;
    position: sticky;
}

:root {
    --header-dark-color: rgb(56, 57, 64);
    --header-light-color: rgb(146, 210, 210);
    --content-font-color: rgb(78, 108, 108);
    --content-bg: rgb(201, 229, 229);
    --content-caption-bg: rgba(146, 210, 210, 0.8);
  }
  
  * {
    color: var(--content-font-color);
  }
  
  header {
    background-color: var(--header-dark-color)
  }
  
  h1 {
    margin-top: -5px !important;
    background-color: var(--header-light-color);
    color: var(--header-dark-color);
  }
  
  .nav-bar {
    background-color: var(--header-dark-color) !important;
  }
  
  .navbar:hover
  {
    --bs-navbar-hover-color: rgba(146, 210, 210, 0.4);
  }
  
  a {
    text-decoration: none;
    --bs-link-color-rgb: var(--content-font-color);
  }
  
  header .nav-link {
    --bs-nav-link-color: var(--header-light-color);
    border-bottom: solid var(--header-light-color);
    padding: 0px 0.5em !important;
  }
  
  header a:hover {
    border-bottom: solid rgba(146, 210, 210, 0.4) ;
    --bs-navbar-active-color: rgba(146, 210, 210, 0.4);
  }
  
  header .active
  {
    --bs-navbar-active-color: rgb(94, 149, 149);
    border-bottom: solid rgb(94, 149, 149);
  }
  
  .fix-hero-width
  {
      /* to fix issue with container-fluid not  using full width of viewport */
    --bs-gutter-x:0;
  }
  
  .profile-pic
  {
    background-image: url(../Images/profile-pic.jpg);
    height: 18vh;
    width: 18vh;
    margin-top: 1vh;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: auto 35vh;
    background-position-y: -7.5vh;
    background-position-x: -0.5vh;
    z-index: 1;
  }
  
  .hero-caption {
    z-index: 1;
    margin: auto;
    padding: 0px 10px;
    background-color: var(--header-light-color);
    margin-bottom: 3rem;
    margin-right: 20rem;
    font-size: 1.5em;
    scale: 1.25;
  }
  
  .highlighted-words {
    background-color: rgba(255, 251, 0, 0.6);
    /* color: rgb(10, 161, 161); */
    color: rgb(5, 151, 151);
  }
  
  .highlighted-words strong {
    color: rgb(5, 151, 151);
  }
  
  .hero-banner {
    position: relative;
    background-image: url("../Images/02-hero-bg.jpg");
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
  
  }
    
  .hero-banner::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      rgba(54, 182, 242, 0.4) 0%,
      rgba(2, 63, 108, 0.8) 100%);
  }
  
  .col-1 {
    width: 10%;
  }
  
  main h2 {
    padding-right: 10px;
    text-align: end;
    min-width: 140px !important;
    max-width: 170px !important;
    height: auto;
    border-right: solid var(--content-font-color);
    margin-bottom: 0;
  }
  
  .sub-heading {
    background-color: var(--content-caption-bg);
    color: var(--header-dark-color);
    margin-bottom: 1em;
    padding: 0.25em;
  }
  
  
  .sub-heading p {
    margin: 0;
    font-size: 0.75em;
  }
  
  .content {
    padding:0;
  }
  
  .work-content {
    border: solid 0.2em var(--header-light-color);
    background-color: var(--content-bg);
    padding: 0;
  }
  
  .uni {
    height: 12rem;
  }
  
  .uni-img {
    background-image: url(https://imgs.search.brave.com/lulNEwSlzvRcRIDLkWjX9inyeIbVZZ3bR8DAPPxEDR4/rs:fit:560:320:1/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy90/aHVtYi9jL2M0L1Vu/aXR5XzIwMjEuc3Zn/LzUxMnB4LVVuaXR5/XzIwMjEuc3ZnLnBu/Zw);
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position-x: center;
    background-position-y: center;
    display: block;
    height: 100%;
    padding: 0;
  }
  
  .art-img {
    background-image: url(https://cdn.crevado.com/images/crevado-logo-new.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: center;
    background-position-y: center;
    display: block;
    height: 100%;
    padding: 0;
  }
  
  .python-img {
    background-image: url(https://logos-download.com/wp-content/uploads/2016/10/Python_logo_icon-700x697.png);
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position-x: center;
    background-position-y: center;
    display: block;
    height: 100%;
    padding: 0;
  }
    
  .hr-img {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256' style='enable-background:new 0 0 256 256;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%230E141E;%7D .st1%7Bfill:%23FFFFFF;%7D .st2%7Bfill:%2300EA64;%7D%0A%3C/style%3E%3Crect x='0' y='0' class='st0' width='256' height='256'/%3E%3Cg%3E%3Cpath class='st1' d='M125.39,85.35h-19.26c-0.65,0-1.18,0.53-1.18,1.18v30.61H84.2V86.54c0-0.65-0.53-1.18-1.18-1.18H63.76 c-0.65,0-1.18,0.53-1.18,1.18v82.85c0,0.65,0.53,1.18,1.18,1.18h19.26c0.65,0,1.18-0.53,1.18-1.18v-30.61h20.75v30.61 c0,0.65,0.53,1.18,1.18,1.18h19.26c0.65,0,1.18-0.53,1.18-1.18V86.54C126.57,85.88,126.04,85.35,125.39,85.35z'/%3E%3Cpath class='st2' d='M199.76,170.57h-61.64c-0.65,0-1.18-0.53-1.18-1.18V86.53c0-0.65,0.53-1.18,1.18-1.18h61.64 c0.65,0,1.18,0.53,1.18,1.18v82.85C200.94,170.04,200.41,170.57,199.76,170.57z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position-x: center;
    background-position-y: center;
    display: block;
    height: 100%;
    padding: 0;
  }
    
    .lt-img {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1176 238' title='Linktree Logo' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 25.5326H33.7257V202.802H127.205V233.988H0V25.5326ZM160.564 25.5326C172.111 25.5326 181.642 34.469 181.642 45.9586C181.642 57.6307 172.111 66.9318 160.564 66.9318C148.833 66.9318 139.485 57.6307 139.485 45.9586C139.485 34.469 148.833 25.5326 160.564 25.5326ZM144.067 83.7103H176.51V233.988H144.067V83.7103ZM195.572 83.7103H228.015V104.501C237.546 88.6345 254.042 79.6981 275.854 79.6981C311.046 79.6981 333.041 107.054 333.041 150.46V233.988H300.598V153.378C300.598 125.292 288.318 109.425 265.956 109.425C241.579 109.425 228.015 126.021 228.015 156.113V233.988H195.572V83.7103ZM350.087 25.5326H382.53V157.39L443.016 83.8927H483.707L419.188 159.031L483.707 233.988H443.016L382.53 160.673V233.988H350.087V25.5326ZM496.354 45.4114H529.347V83.7103H567.838V110.519H529.347V187.847C529.347 197.695 535.395 203.713 544.743 203.713H566.372V233.988H540.344C512.117 233.988 496.354 217.392 496.354 187.847V45.4114ZM584.5 83.7103H614.577V102.313C622.642 88.0873 636.022 79.6981 652.519 79.6981C657.468 79.6981 660.217 79.8805 663.883 81.1571V111.249C661.683 110.702 658.384 110.155 651.786 110.155C627.958 110.155 614.761 130.034 614.761 164.503V233.988H582.318V83.7103H584.5ZM739.582 79.6981C775.324 79.6981 813.999 101.218 813.999 162.314V166.691H697.792C700.358 193.5 715.938 208.273 741.965 208.273C760.661 208.273 776.607 198.242 780.09 184.199H813.082C809.783 214.291 778.44 238 741.965 238C695.226 238 665.899 207.726 665.899 158.667C665.899 115.261 694.309 79.6981 739.582 79.6981ZM779.54 139.882C774.958 121.28 760.294 109.608 739.766 109.608C719.97 109.608 706.04 121.644 700.541 139.882H779.54ZM902.162 79.6981C937.904 79.6981 976.578 101.218 976.578 162.314V166.691H860.372C862.938 193.5 878.517 208.273 904.545 208.273C923.241 208.273 939.187 198.242 942.669 184.199H975.662C972.363 214.291 941.02 238 904.545 238C857.805 238 828.479 207.726 828.479 158.667C828.479 115.261 856.706 79.6981 902.162 79.6981ZM941.936 139.882C937.354 121.28 922.691 109.608 901.979 109.608C882.183 109.608 868.253 121.644 862.754 139.882H941.936ZM984.643 79.1509H1042.56L1001.32 40.1226L1024.05 16.9609L1063.28 57.0835V0H1097.37V57.0835L1136.59 16.9609L1159.32 40.1226L1118.08 79.1509H1176V111.431H1117.71L1159.14 151.554L1136.41 174.169L1080.14 117.815L1023.87 174.169L1001.14 151.554L1042.56 111.431H984.277V79.1509H984.643ZM1063.46 157.572H1097.55V234.17H1063.46V157.572Z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: auto 70%;
      background-position-x: center;
      background-position-y: center;
      display: block;
      height: 100%;
      padding: 0;
  }
  
  #contact-content 
  {
    height: 100%;
  }
  
  .contact-type {
    border-bottom: solid var(--content-font-color);
    margin: 0;
    padding: 0;
  }
  
  .contact-type:hover {
    border-bottom: solid rgb(57, 92, 198);
    color: rgb(57, 92, 198);
    margin: 0;
    padding: 0;
  }